.content
{
    width: 100%;
    height: 100px;
    background-color: #E6E9ED;

    
}
.grid
{
    padding: 10px;
    display: grid;
    margin: 0 auto;
    width: 1200px;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: 25px;
}

.block-1,.block-2,.block-3
{
    grid-column-end: span 4;
    min-width: 0;
    font-size: 12px;
    
}
.block-2
{
    text-align: center;
}
.block-1
{
    text-align: left;
}
.block-3
{
    text-align: right;
}