<div class="content">
    <div class="grid">
        <div class="block-1">
            © 2023 — ТМОЛ. Все права защищены.
            <p>ул. Чехова, 2, ауд. И-201
                г. Таганрог, 347922 Ростовская область, Россия</p>
        </div>
    <div class="block-2">
        <p>Телефон: 8 (8634) 360-450</p>
        <p>E-Mail: info@ictis.school.ru</p>
    </div>
    <div class="block-3">
        Ответственный за сайт: Алексей Целых
Сайт разработан Студенческим конструкторским бюро
"Компьютерное инновационное творчество" ИКТИБ
    </div>
    </div>
</div>